<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="alexandmebaas.Properties.Settings.AndmebaasConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Andmebaas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="alexandmebaas.Properties.Settings.andmedConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=andmed;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>